.screen {
    width: 100%;
    height: 90px;
    overflow: hidden;
    background-color: var(--screen-bg);

    @include breakpoint-up(medium) {
        height: 130px;
    }

    input {
        border: none;
        outline: none;
        font-size: 1.2em;
        padding: 1em .5em;
        text-align: right;
        color: var(--screen-txt);
        font-family: 'Spartan', sans-serif;

        @include breakpoint-up(medium) {
            font-size: 1.5em;
        }
    }
}